<% if blog.errors.any? %>
  <div class="errors">
    <h4><%= pluralize(blog.errors.count, "error") %> prevented this blog from being saved:</h4>
    <ul>
      <% blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: blog do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image, accept: "image/*" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>